In [12]:
2+1

3

In [13]:
2-3

-1

In [14]:
2/0

ZeroDivisionError: division by zero

In [15]:
7/4

1.75

In [16]:
7 % 4

3

In [17]:
50 % 5

0

In [18]:
23 % 2

1

In [19]:
24 % 2

0

In [20]:
2 ** 2

4

In [21]:
2 ** 15

32768

In [1]:
2**8

256

In [2]:
2**5

32

In [3]:
2**7

128

In [4]:
1/8

0.125

In [5]:
1/16

0.0625

In [6]:
1/32

0.03125

In [7]:
1/64

0.015625

In [8]:
round(2.675,2)

2.67

In [9]:
0.1+0.2

0.30000000000000004

In [10]:
0.1

0.1

In [11]:
0.2

0.2

In [12]:
1/2

0.5

In [13]:
my_var = 1

In [14]:
mu_var

NameError: name 'mu_var' is not defined

In [15]:
my_var

1

In [16]:
type()

TypeError: type() takes 1 or 3 arguments

In [17]:
type(my_var)

int

In [18]:
a = 5;

In [19]:
a = 5

In [20]:
a ** 2

25

In [23]:
a = a +2

In [24]:
a

9

In [26]:
a = ["ma_bite","ma2eme_bite"]

In [27]:
type(a)

list

In [28]:
int = 4

In [29]:
int

4

In [30]:
type(int)

int

In [31]:
int

4

In [1]:
int

int

In [2]:
my_income = 1000
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [3]:
my_taxes

100.0

In [4]:
cld

NameError: name 'cld' is not defined

In [5]:
cls

In [6]:
1

1

In [7]:
test = 'my_string'

In [8]:
test

'my_string'

In [10]:
test[2]

'_'

In [11]:
test[0]

'm'

In [12]:
test[-1]

'g'

In [13]:
test[0:5]

'my_st'

In [14]:
test[0:2:6]

'm'

In [15]:
0:2:6

SyntaxError: invalid syntax (<ipython-input-15-e7f3216d1011>, line 1)

In [16]:
[0:2:6]

SyntaxError: invalid syntax (<ipython-input-16-7b2fe9b435c8>, line 1)

In [17]:
test[0:6:2]

'm_t'

In [18]:
test2 = "my_string"

In [19]:
test2 == test

True

In [20]:
my_string = " I'm going for a run "

In [21]:
my_string

" I'm going for a run "

In [22]:
test2

'my_string'

In [23]:
print(test2)

my_string

In [24]:
len(test2)

9

In [25]:
print(test2)

my_string

In [26]:
doc len

SyntaxError: invalid syntax (<ipython-input-26-2572985ce4e3>, line 1)

In [27]:
my_string

" I'm going for a run "

In [28]:
my_string = "Hello Bitch"

In [29]:
mystring[0]

NameError: name 'mystring' is not defined

In [31]:
my_string[-1]

'h'

In [36]:
my_string[6:]

'Bitch'

In [37]:
my_string

'Hello Bitch'

In [40]:
my_string[:5]

'Hello'

In [41]:
my_string[1:7]

'ello B'

In [42]:
my_string[::]

'Hello Bitch'

In [43]:
my_string[::2]

'HloBth'

In [44]:
my_string[::3]

'HlBc'

In [45]:
my_string[::-1]

'hctiB olleH'

In [46]:
name = 'Sam'

In [47]:
name

'Sam'

In [50]:
# name[0] = 'P'

In [56]:
new_name = 'P'+name[1:]

In [57]:
new_name

'Pam'

In [58]:
string_bitch = 'Bitch !'

In [60]:
(string_bitch+' ') * 10

'Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! Bitch ! '

In [61]:
'2'+'3'

'23'

In [62]:
string_bitch.upper()

'BITCH !'

In [63]:
string_bitch

'Bitch !'

In [65]:
string_bitch.lower()

'bitch !'

In [68]:
string_bitch.split('t')

['Bi', 'ch !']

In [69]:
splited_string = string_bitch.split('t')

In [71]:
splited_string[1]

'ch !'

# PRINT FORMATTING

In [74]:
'Voici un string {}'.format('test','test2')

'Voici un string test'

In [75]:
'Voici pleins de string : {} {} {}'.format('Mozart','Salieri','ma bite')

'Voici pleins de string : Mozart Salieri ma bite'

In [76]:
'Voici pleins de string : {2} {0} {1}'.format('Mozart','Salieri','ma bite')

'Voici pleins de string : ma bite Mozart Salieri'

In [77]:
'Voici pleins de string : {0} {0} {1}'.format('Mozart','Salieri','ma bite')

'Voici pleins de string : Mozart Mozart Salieri'

In [78]:
'Voici pleins de string : {B} {m} {B}'.format(m='Mozart',s='Salieri',B='ma bite')

'Voici pleins de string : ma bite Mozart ma bite'

# Float formatting

In [79]:
div2batar = 69/7

In [80]:
div2batar

9.857142857142858

In [81]:
print('Division de ouf {}'.format(div2batar))

Division de ouf 9.857142857142858

In [82]:
print('Division de ouf = {}'.format(div2batar))

Division de ouf = 9.857142857142858

In [85]:
print('Division de ouf {r:10.5f}'.format(r=div2batar))

Division de ouf    9.85714

In [86]:
print('Division de ouf {r:10.0f}'.format(r=div2batar))

Division de ouf         10

In [87]:
print('Division de ouf {r:2.0f}'.format(r=div2batar))

Division de ouf 10

In [88]:
print('Division de ouf {r:1.9f}'.format(r=div2batar))

Division de ouf 9.857142857

In [94]:
print(f'Division de ouf {div2batar}')

SyntaxError: invalid syntax (<ipython-input-94-3427d61e6488>, line 1)

# Lists !

In [95]:
my_list = [1,2,3]

In [96]:
my_list[0]

1

In [97]:
type(my_list[0])

int

In [98]:
len(my_list)

3

In [99]:
my_new_mst_list = my_list + ['mycose',69]

In [100]:
my_new_mst_list

[1, 2, 3, 'mycose', 69]

In [101]:
my_new_mst_list[3] = 5

In [102]:
my_new_mst_list

[1, 2, 3, 5, 69]

In [103]:
my_new_mst_list.append('gonocoque')

In [104]:
my_new_mst_list

[1, 2, 3, 5, 69, 'gonocoque']

In [105]:
my_new_mst_list.append('herpes')

In [106]:
my_new_mst_list

[1, 2, 3, 5, 69, 'gonocoque', 'herpes']

In [107]:
my_new_mst_list.pop

In [108]:
my_new_mst_list.pop

In [109]:
my_new_mst_list.pop()

'herpes'

In [110]:
my_new_mst_list

[1, 2, 3, 5, 69, 'gonocoque']

In [111]:
mst_popped = my_new_mst_list.pop()

In [112]:
mst_popped

'gonocoque'

In [113]:
my_new_mst_list

[1, 2, 3, 5, 69]

In [114]:
numb_popped = my_new_mst_list.pop(-1)

In [115]:
numb_popped

69

In [116]:
my_new_mst_list

[1, 2, 3, 5]

In [117]:
my_list

[1, 2, 3]

In [118]:
str_list = ['a','z','e','f','0','5']
num_list = [1,5,9594,4544,680]

In [119]:
str_list.sort()

In [120]:
str_list

['0', '5', 'a', 'e', 'f', 'z']

In [121]:
num_list.sort()

In [122]:
num_list

[1, 5, 680, 4544, 9594]

In [123]:
num_list.reverse

In [124]:
num_list.reverse()

In [125]:
num_list

[9594, 4544, 680, 5, 1]

In [126]:
str_list.reverse()

In [127]:
str_list

['z', 'f', 'e', 'a', '5', '0']

In [128]:
str_list.reverse(2:)

SyntaxError: invalid syntax (<ipython-input-128-e90afd4e8dcf>, line 1)

# Les dictionnaires :)

In [129]:
my_dick = {'key1':'a droite','key2':'a gauche'}

In [130]:
my_dick

{'key1': 'a droite', 'key2': 'a gauche'}

In [131]:
my_dick['key1']

'a droite'

In [132]:
my_big_dick = {'k1':1,'k2':[0,1,90,'toto'],'k3':my_dick}

In [133]:
my_big_dick

{'k1': 1,
 'k2': [0, 1, 90, 'toto'],
 'k3': {'key1': 'a droite', 'key2': 'a gauche'}}

In [134]:
my_big_dick['k3']['key1']

'a droite'

In [135]:
my_big_dick['k2'][3]

'toto'

In [136]:
my_big_dick['k2'][3].upper()

'TOTO'

In [137]:
my_big_dick.pop()

TypeError: pop expected at least 1 arguments, got 0

In [138]:
my_big_dick.pop(-1)

KeyError: -1

In [139]:
my_big_dick.keys

In [140]:
my_big_dick.keys()

dict_keys(['k1', 'k2', 'k3'])

In [141]:
my_big_dick.values()

dict_values([1, [0, 1, 90, 'toto'], {'key1': 'a droite', 'key2': 'a gauche'}])

In [142]:
my_big_dick.items()

dict_items([('k1', 1), ('k2', [0, 1, 90, 'toto']), ('k3', {'key1': 'a droite', 'key2': 'a gauche'})])

# And now : TUPLES !

In [143]:
my_tuple = (1,2,3)

In [144]:
my_list = [1,2,3]

In [145]:
type(my_list)

list

In [146]:
type(my_tuple)

tuple

In [147]:
my_tuple = (1,2,'3')

In [148]:
my_tuple

(1, 2, '3')

In [149]:
my_tuple[0]

1

In [150]:
my_tuple.count(1)

1

In [151]:
my_tuple = (1,2,'3','4',1,2)

In [152]:
my_tuple

(1, 2, '3', '4', 1, 2)

In [153]:
my_list

[1, 2, 3]

In [154]:
my_list[2] = 'bla'

In [155]:
my_list

[1, 2, 'bla']

In [156]:
my_tuple

(1, 2, '3', '4', 1, 2)

In [157]:
my_tuple[2] = '4'

TypeError: 'tuple' object does not support item assignment

# Sets !

Que des lments UNIQUES !

In [158]:
my_signore = set()

In [159]:
my_signore.add(2)

In [160]:
my_signore

{2}

In [161]:
type(my_signore)

set

In [162]:
my_signore.add('bl')

In [163]:
my_signore

{2, 'bl'}

In [164]:
my_list = [1,1,1,1,2,2,2,2,3,3,3]

In [165]:
my_list

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3]

In [166]:
set(my_list)

{1, 2, 3}

simplement une collection d'lments uniques...
Soit !

In [167]:
my_signore[0]

TypeError: 'set' object is not subscriptable

In [168]:
my_signore(0)

TypeError: 'set' object is not callable

In [169]:
set('Mississippi')

{'M', 'i', 'p', 's'}

# Les boules et un

In [171]:
my_bouliche = True

In [172]:
my_bouliche

True

In [173]:
type(my_bouliche)

bool

In [176]:
~my_bouliche

-2

In [177]:
type(~my_bouliche)

int

In [178]:
 1 > 8

False

In [179]:
1 >= 1

True

In [182]:
1 == 1

True

Je sens qu'on va cre des booolens avec b = None plus tard

In [183]:
40/211

0.1895734597156398

# Ahhh les I/O sur les fichiers !

In [184]:
%%writefile myfile.txt
Hello this is a text filtre
this is the second line
this is the third line
CECI ne MARCHE quavec Jupyter notebook

Writing myfile.txt

In [185]:
myfile = open('myfile.txt')

In [186]:
myfile

In [187]:
pwd

'C:\\Users\\Antoine\\Desktop'

In [188]:
myfile.read()

'Hello this is a text filtre\nthis is the second line\nthis is the third line\nCECI ne MARCHE quavec Jupyter notebook\n'

In [189]:
myfile.read()

''

In [190]:
myfile.seek(0)

0

In [192]:
myfile.read()

'Hello this is a text filtre\nthis is the second line\nthis is the third line\nCECI ne MARCHE quavec Jupyter notebook\n'

In [193]:
myfile.seek(0)

0

In [195]:
myfile.readlines()

['Hello this is a text filtre\n',
 'this is the second line\n',
 'this is the third line\n',
 'CECI ne MARCHE quavec Jupyter notebook\n']

In [196]:
myfile.close()

In [197]:
myfile.closed()

TypeError: 'bool' object is not callable

In [198]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [199]:
contents

'Hello this is a text filtre\nthis is the second line\nthis is the third line\nCECI ne MARCHE quavec Jupyter notebook\n'

In [207]:
with open('myfile.txt',mode='r+') as myfile:
    contents = myfile.read()

In [208]:
contents

''

In [209]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [210]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FORTH')

In [212]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH

In [213]:
with open('encore_un_nouveau_fichier',mode='w') as f:
    f.write('Je viens de crer ce fichier')

In [214]:
with open('encore_un_nouveau_fichier',mode='r') as f:
    print(f.read())

Je viens de crer ce fichier

In [215]:
2**38

274877906944

# Combinaison d'oprateur logiques

In [1]:
1 < 2 and 2 > 3

False

In [2]:
1 < 2 or 2 > 3

True

In [3]:
'a' == 'b' or 'a' == 'a'

True

In [5]:
not 'a'=='b'

True

# Et maintenant les 'Statements' !

In [12]:
my_state = 'PAS MALADE'

if my_state == 'SICK':
    print('OUIN OUIN')
else: 
    print('I AM OK')

I AM OK

# Boucles

In [19]:
for i in [1,2,'mon_txt']:
    print(i)

1
2
mon_txt

In [22]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [27]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Oddnumber: {num}')

Oddnumber: 1
2
Oddnumber: 3
4
Oddnumber: 5
6
Oddnumber: 7
8
Oddnumber: 9
10

In [30]:
for malettreunique in 'E**KUL DE BOOMERS':
    print(malettreunique)

E
*
*
K
U
L


D
E

B
O
O
M
E
R
S

In [33]:
my_tuple_list = [(1,'un'),(3,'trois'),(5,'six'),(7,'huit')]

In [34]:
for a,b in my_tuple_list:
    print(a)
    print(b)

1
un
3
trois
5
six
7
huit

In [39]:
mydick = {'k1':1,'k3':3,'k2':2}

for key,value in mydick.items():
    print(value)

1
3
2

In [40]:
# x += 1 
# et
# x = x + 1
# c'est la mme chose

In [41]:
x = 0
while x < 5:
    x+=1
    print(x)

1
2
3
4
5

In [43]:
# Utilisation des statements :
# break, continue et pass
# (mme comportement que Matlab)

# Usefull operators

In [50]:
range(10)
# en quelque sorte l'quivalent matlab de [0:10]

range(0, 10)

In [48]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
# sans enumerate
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [52]:
# avec enumerate
index_count = 0
for item in enumerate('abcde'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [54]:
enumerate('abcde')

In [55]:
# Utilisation du zip
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [56]:
# zip en quelque sorte appaire les listes
# marche avec un nombre indfini de listes
# attention, a zip au nombre d'lments minimal

In [57]:
# Utilisation du 'in' pour checker les appartenances

In [58]:
1 in ['a','b']

False

In [59]:
'a' in ['a','b']

True

In [62]:
d = {'mykey':365}
365 in d.values()

True

In [63]:
min(range(0,10))

0

In [64]:
max(range(0,10))

9

In [65]:
# random et shuffle ??
from random import shuffle

In [68]:
mylist2shuffle = [1,2,3,4,5,6,7,8,9,10]

In [72]:
shuffle(mylist2shuffle)
# c'est une 'inplace' function,
# meaning it applies on the inside argument

In [70]:
mylist2shuffle

[1, 2, 5, 9, 4, 3, 6, 8, 7, 10]

In [73]:
from random import randint

In [74]:
randint(0,100)

63

In [78]:
# fonction input
# prend en entre des string seulement
result = input('Enter a number here:')

Enter a number here:50

In [79]:
result

'50'

In [80]:
# pour transformer ce qui a t entr, il faut 
# par exemple utiliser int()

### List Comprehensions

In [81]:
# permet de crer des listes sans passer par
# des boucles for et des .append()

In [82]:
mystring = 'hello'

In [85]:
# mthode 'lourde'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [86]:
mylist

['h', 'e', 'l', 'l', 'o']

In [92]:
# mthode lgante
mylist = [kjh for kjh in mystring]

In [93]:
mylist

['h', 'e', 'l', 'l', 'o']

In [94]:
my_num_list = [num**2 for num in range(0,11)]

In [95]:
my_num_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#avec un if en plus (pour tester les nombres
# paires par ex)

In [6]:
my_odd_list = [x for x in range(0,11) if x%2==0]

In [7]:
my_odd_list

[0, 2, 4, 6, 8, 10]

In [9]:
# if / else statement est possible
# note : par contre, a peut rendre le code plus
# difficile  lire et dbugger

In [19]:
results = [x if x%2==0  else 'ODD' for x in range(0,11)]

In [11]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [12]:
# nested loops !

In [13]:
# mthode "classique"
mylist = []
for x in [1,2,3]:
    for y in [1,100,1000]:
        mylist.append(x*y)

In [14]:
mylist

[1, 100, 1000, 2, 200, 2000, 3, 300, 3000]

In [16]:
mylist = [x*y for x in [1,2,3] for y in [1,100,1000]]

In [17]:
mylist

[1, 100, 1000, 2, 200, 2000, 3, 300, 3000]

# METHODES & FUNCTIONS !

In [27]:
# Exemple de mthode : .pop()
mylist = list(range(1,5))
mylist

[1, 2, 3, 4]

In [29]:
mylist.pop()

4

In [30]:
mylist

[1, 2, 3]

In [31]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## Cration de fonctions

In [7]:
# docstring forcment entre 3 guillemets
# on peut mettre un argument par dfault
# sur le(s) entre(s)
def my_funk(name_model='mdl'):
    '''
    
    '''
    return name_model

In [12]:
toto = my_funk('mdl piston')

In [14]:
toto

'mdl piston'

## args et kwargs

In [2]:
# *args : arguments
# **kwargs : key words arguments

In [3]:
# exemple : sommer un nombre indfini de nombre

In [4]:
# fonction initiale 
def myfunc(a,b):
    # renvoie de 5% de la somme de a et b
    return sum((a,b)) * 0.05

In [5]:
myfunc(40,60)

5.0

In [31]:
# utilisation de *args pour nombre d'arguments illimits
# fonction modifie
def myfunc_args(*args):
    for item in args:
        print(type(args))
    return sum(args) * 0.05

# le plus important est le *, mais par convention, il 
# faut utiliser args
# /!\ NOTE :
# les arguments sont des tuples !!

In [30]:
myfunc_args(10,10,1012)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

51.6

In [37]:
# kwars construit un dictionnaire
def myfunc_kwargs(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('Jaime les {}'.format(kwargs['fruit']))
    if 'veggie' in kwargs:
        print('SUCE ! {}'.format(kwargs['veggie']))

In [38]:
myfunc_kwargs(fruit='apple',veggie='mabite')

{'fruit': 'apple', 'veggie': 'mabite'}
Jaime les apple
SUCE ! mabite

In [42]:
# enfin, on peut utiliser  la fois *args et **kwargs
def myfunc_argskwargs(*args,**kwargs):
    print(args)
    print(kwargs)
    print('Je veux ',args,kwargs['fusee'])
    print('Je ne veux pas ',args,kwargs['pieces'])

In [43]:
myfunc_argskwargs(10,20,30,fusee='Ariane6',pieces='dollars')

(10, 20, 30)
{'fusee': 'Ariane6', 'pieces': 'dollars'}
Je veux  (10, 20, 30) Ariane6
Je ne veux pas  (10, 20, 30) dollars

In [60]:
def myfunc_even(*args):
    mylist = []
    for item in args:
        if item%2==0:
            mylist = mylist+[item]
    return mylist

In [61]:
myfunc_even(5,6,7,8)

[6, 8]

In [98]:
def skyline(*args):
    string2return = ''
    for (index,letter) in enumerate(args[0]):
        if index%2==0:
            string2return = string2return + letter.upper()
        else:
            string2return = string2return + letter.lower()
    return string2return

In [99]:
skyline('Madaronne')

'MaDaRoNnE'

In [100]:
text = 'Levelheaded Llama'

In [104]:
text.split()

['Levelheaded', 'Llama']

In [105]:
text = 'unestring'

In [112]:
[text[0:3],text[3:]]

['une', 'string']

In [113]:
list = [1,3,3]

In [114]:
len(list)

3

In [2]:
toto = list(range(1,3))

In [3]:
toto

[1, 2]

In [4]:
arr = [1,3,5,6,7,5,9]

In [13]:
list(enumerate(arr))

[(0, 1), (1, 3), (2, 5), (3, 6), (4, 7), (5, 5), (6, 9)]

[1, 3, 5, 6, 7, 5, 9]

# Lambda Expressions Map and Filter

In [13]:
# No idea de ce que c'est ...

# MAP :

In [2]:
def square(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [7]:
# exemple: on veut appliquer square sur tous 
# les lments de my_nums
# on utilise :
toto = list(map(square,my_nums))
# c'est un peu comme le @ dans matlab...

In [8]:
toto

[1, 4, 9, 16, 25]

In [10]:
# autre exemple :
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [11]:
names = ['Antoine','Gabrielle','Andr','Aurore']

In [12]:
list(map(splicer,names))
# Attention : on n'utilise pas 
# la fonction en crivant splicer()

['A', 'G', 'A', 'Even']

In [14]:
# FILTER
# par exemple, on cre :
def check_even(num):
    return num%2 == 0

In [15]:
my_nums = [1,2,3,4,5,6]

In [17]:
# fonction avec que des boolen (tbc)
list(filter(check_even,my_nums))

[2, 4, 6]

In [18]:

# Lambda Expressions

In [22]:
# ceci est ce qui se rapproche le plus 
# d'une vraie ligne de code pyhton
def square(num): return num**2

# mais on peut aller encore plus loin
square_l = lambda num: num**2

In [23]:
square(65) == square_l(65)

True

In [24]:
# on n'est pas oblig de mettre square = lambda
# ce qui prend de la mmoire
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25, 36]

In [25]:
# idem avec filter

# Nested Statements & Scope

In [26]:
# scope semble tre sorte d'quivalent
# des workspace ('base',interne  la fonction etc...)

In [27]:
x = 25
def printer():
    x=50
    return x

In [28]:
# retourne 25
print(x)

25

In [29]:
# retourne 50
printer()

50

In [30]:
# Normal...

In [31]:
# LEGB rule :
# Local
# Enclosing function locals
# Global (module)
# Built-in (Python)

In [32]:
# Local : 
# lambda num:num**3

In [40]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    # ENCLOSING
    name = 'Sammy'
    
    def hello():
        
        # LOCAL
        name = 'IAM LOCAL'
        
        print('Hello '+name)
        
    hello()
    
greet()

Hello IAM LOCAL

In [41]:
# Ici, bien entendu, on ne voit que Sammy...
# Enfin, bien entendu, pas forcment, en Matlab
# a planterait

# d'autre part, si on commente name = 'Sammy',
# on voit apparatre 'THIS IS A GLOBAL STRING'

# Au del de Global, il y a les built-in 
# function (len, def, etc...) qu'il ne faut pas craser

In [ ]:
# global x peut tre appeler dans une fonction, mais
# dgueulasse, mauvaise pratique
# cf la vido du Robert qui insiste sur le fait de 
# ne pas utiliser de variable globale
# plutt utiliser des rassignement en faisant des return
# dans les sous fonctions...